// Overrides and Specs for Style Guide Documentation



@import "../../package/styles/_styles";


body {
  font-family: $OpenSans;
  position: relative;
  font-size: 1.2rem;
  display: grid;
  grid-template-rows: 80px auto;
  margin: 0;

  @include md {
    grid-template-rows: 40px auto;
  }

  .navbar {
    z-index: 999;

    .fixed-nav {
      background-color: white;
      box-shadow: 0 0 5px rgba(58, 58, 58, 0.2);
      position: fixed;
      right: 0;
      left: 0;
      display: grid;
      align-items: center;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
      padding: 0 10px;

      @include md {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      a {
        border: none;

        &:hover {
          border: none;
        }

        &:focus, &:active {
          border: none;
        }
      }

      .navbar-brand {
        background: url('../img/strategies_fullcolor_header.png') no-repeat left center;
        background-size: contain;
        height: 20px;
        width: 100%;
        display: block;
        margin: 10px 0;

        &:hover, &:active, &:focus {
          background: url('../img/strategies_fullcolor_header_alt.png') no-repeat left center;
          background-size: contain;
        }
      }

      .navbar-nav {
        justify-self: flex-start;
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: auto auto auto;

        @include md {
          justify-self: flex-end;
        }

        a {
          padding: 0;
          margin: 0;
          color: $dk-grey;
          display: inline;

          &:hover {
            color: $primary;
          }

          &:focus, &:active {
            color: $primary-focus;
          }

          &.active {
            color: $primary;

            &:hover {
              color: $primary-hover;
            }
          }
        }
      }
    }
  }

  .page {
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: auto auto;

    @include md {
      grid-template-columns: 50px auto 50px;
      grid-template-rows: calc(100vh - 40px) auto;
    }

    @include lg {
      grid-template-columns: 150px auto 150px;
    }

    @include xl {
      grid-template-columns: 400px auto 400px;
    }

    &#ui-kit #overview .icon {
      background: url('../img/1.png') center left no-repeat;
      background-size: contain;
    }

    &#work-with-us #overview .icon {
      background: url('../img/3.png') center left no-repeat;
      background-size: contain;
    }

    &#ux-guidelines #overview .icon {
      background: url('../img/2.png') center left no-repeat;
      background-size: contain;
    }

    #overview {
      grid-column-start: 2;
      grid-column-end: 3;
      margin-top: calc(100vh - 90vh);

      .container {
        padding: 0;

        .section {
          padding: 0;
        }
      }

      .icon {
        height: 250px;
      }

      .bounce {
        animation-name: bounce-7;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
      }

      @keyframes bounce-7 {
        0%   { transform: translateY(0); }
        10%  { transform: translateY(0); }
        30%  { transform: translateY(-7px); }
        50%  { transform: translateY(0); }
        57%  { transform: translateY(-1px); }
        64%  { transform: translateY(0); }
        100% { transform: translateY(0); }
      }

      h1 {
        padding: 0 0 30px 0;
      }

      i {
        font-size: 3.6rem;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
      }
    }

    .main-content {
      grid-column-start: 1;
      grid-column-end: 4;
      display: grid;
      grid-template-columns: 20px 1fr 20px;

      @include md {
        grid-template-columns: 200px auto;
      }

      @include xl {
        grid-template-columns: 400px auto 400px;
      }
    }

    .bd-sidebar {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: white;
      padding: 5px;
      box-shadow: none;
      z-index: 100;
      max-height: calc(100vh - 90px);
      overflow-y: auto;
      text-align: right;
      display: none;

      @include md {
        height: calc(100vh - 150px);
        position: sticky;
        top: 150px;
        padding: 0 20px;
        max-height: unset;
        overflow-y: hidden;
        display: block;
        grid-column-start:1;
        grid-column-end:2;
      }

      a {
        border-bottom: 0;
        color: $dk-grey;

        &.active {
          color: $primary;
        }

        &:hover {
          color: $primary;
          border-bottom: 0;
        }

        &:focus, &:active {
          color: $dk-grey;
        }
      }

      .navbar-toggler {

        border: 0;
        padding: 0;

        &:focus, &:active {
          outline: 0;
        }

        .navbar-toggler-icon {
          float: right;

          &:focus, &:active {
            outline: 0;
          }
        }
      }


      nav {
        background: transparent;
        box-shadow: none;
        width: 100%;

        .nav-link {
          padding: 0;
          display: inline;
        }

        li .nav-link.active {
          border-bottom: 1px dotted $primary;
        }

      }

      i {
        margin-right: 10px;
      }

      .top-level {
        font-weight: 700;
        margin: 0;

        &.single {
          margin-bottom: 1rem;
        }
      }

      ul {
        list-style: none;
      }
    }

    .bd-content {
      padding: 0;
      grid-column-start: 2;
      grid-column-end: 3;

      img {
        width: 100%;
      }

      a {
        color: $dk-grey;
        border-bottom: 1px dotted $dk-grey;

        &:hover {
          color: $primary;
          border-bottom: 1px dotted $primary;
        }

        &:focus, &:active {
          color: $primary-focus;
        }
      }

      .back-next {
        button {
          margin: 0 20px 0 0;
        }
      }

      #logos {

        h5 {
          margin-top: 20px;

          @include md {
            margin-top: 50px;
          }
        }

        img {
          margin-bottom: 20px;
          border: 1px solid $wash;

          @include md {
            margin-bottom: 50px;
          }

          &.no-shadow {
            box-shadow: none;
            border: 0;
          }
        }
      }
    }
  }
}

.container-example {
  width: 80%;
  border: 1px solid $wash;
  padding: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.container-fluid-example {
  width: 100%;
  padding: 50px;
  border: 1px solid $wash;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  padding: 30px 15px;

  pre {
    background-color: $wash;
    padding: 0 15px;
    font-size: 14px;
  }

  &.example {

    border: 1px solid $wash;
    padding: 30px 45px;

    .row {

      div {
        background-color: $wash;
        padding: 15px;
        border: 1px solid white;
      }
    }
  }

  .alert {
    background-color: rgba(254,206,7,0.3);
    padding: 15px;
    margin: 0 -15px;
    border-radius: 2px;
  }

  .section {
    padding: 70px 0 50px;
    margin: -50px 0 0 0;

    h1 {
      padding: 20px 0;

      &.quote {
        border-bottom: 0;
        color: $secondary;
        padding: 30px 0;
      }
    }

    h3 {
      border-bottom: 1px dotted $md-lt-grey;
    }

    h4 {
      margin: 50px 0 15px;
    }

    h5 {
      margin: 30px 0 15px;
    }

    pre {
      margin: 10px 0;
    }

  }
}

#vision {
  h3 {
    &.quote {
      border-bottom: 0;
      color: $secondary;
      margin: 30px 0;
    }
  }
  .adjectives {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;

    .adjective {
      background-color: rgba(127, 173, 150, 0.15);
      padding: 15px;
      text-transform: none;
      border-radius: 3px;

      h2 {
        margin: 0;
      }

      h4 {
        margin-top: 5px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

#options {
  .option {
    margin: 15px 0;
    background-color: rgba(127, 173, 150, 0.15);
    padding: 15px;
    border-radius: 5px;

    @include md {
      height: 100%;
    }


    h5 {
      margin-top: 1rem;

    }
  }
}


  #global {
    #colors {

      #grid-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 15px;
        grid-column-gap: 15px;

        .color-chip {
          grid-template-rows: 2fr 1fr 1fr;
        }

        @include md {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          grid-column-gap: 15px;
        }
      }

      #grid-alerts {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 15px;

        .color-chip {
          grid-template-rows: 1fr;
        }

        @include md {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          grid-column-gap: 15px;
        }
      }

      .color-palette {
        display: flex;
        flex-wrap: wrap;
      }


      .color-chip {
        border-radius: 3px;
        flex-direction: column;
        display: grid;

        &.light {
          color: white;
        }

        h5 {
          margin: 0;
        }

        .main-color, .hover, .focus {
          padding: 15px;
        }

        &#nd {
          .main-color {
            background: $nd;
          }

          .hover {
            background: $nd-hover;
          }

          .focus {
            background: $nd-focus;
          }
        }

        &#nl {
          .main-color {
            background: $nl;
          }

          .hover {
            background: $nl-hover;
          }

          .focus {
            background: $nl-focus;
          }
        }

        &#primary {
          .main-color {
            background: $primary;
          }

          .hover {
            background: $primary-hover;
          }

          .focus {
            background: $primary-focus;
          }
        }

        &#secondary {
          .main-color {
            background: $secondary;
          }

          .hover {
            background: $secondary-hover;
          }

          .focus {
            background: $secondary-focus;
          }
        }

        &#success {
          .main-color {
            background: $success;
          }
        }

        &#warning {
          .main-color {
            background: $warning;
          }
        }

        &#error {
          .main-color {
            background: $error;
          }
        }

      }
    }

    #typography {
      .material {
        border: 1px solid $wash;
        padding: 20px;
        margin: 20px 0;
        background: white;
        border-radius: 3px;

        h1, h2, h3, h4, h5, h6 {
          border-bottom: none;
        }

        h1, h4, .p-lg, .p-md, .p-sm, ul, ol {
          margin: 0;
          padding: 0;
        }

        .opensans {
          font-family: $OpenSans;
          letter-spacing: 0;
          font-weight: normal;
        }

        .cheltenham {
          font-family: $Cheltenham;
          letter-spacing: 0;
          font-weight: normal;
        }
      }
    }

    #icons {

      .retina-winter-2995, .unicode-test {
        font-size: 4.8rem;
      }
      .unicode-test:before {
        font-family: $Retina;
        content: "\f1b6";
      }

      .icon-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        .icon-panel {
          background: $wash;
          border-radius: 2px;
          padding: 20px;
          align-items: center;
          justify-content: center;
          display: grid;
          grid-gap: 10px;
          grid-template-rows: 120px auto;
          text-align: center;


          i {
            font-size: 6.4rem;
          }
          h5, p {
            display: inline-block;
            margin: 0;
          }
          .text {
            display: flex;
            flex-direction: column;
          }
          p {
            @include p-md;
          }
        }
      }
    }
  }

  #components {

    #buttons {

      button {
        margin: 20px 20px 20px 0;

        &.sq {
          margin: 0;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 20px;

        @include md{
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: auto;
        }
      }
    }
  }

  .examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;

    .example-adjective {
      background-color: rgba(127, 173, 150, 0.15);
      padding: 0 30px 10px 30px;
      border-radius: 3px;

      h5 {
        margin-top: 20px !important;

      }
    }
  }

  .map {
    display: flex;
    height: 500px;
    margin-bottom: 30px;

    .leaflet-control-container {
      .leaflet-bar {
        a {
          &.zoom-in {
            &:before {
              content: '';
            }
          }
        }
      }
    }
  }


  #graphicdesign {
    h5 {
      text-transform: none;
    }
  }

  #home {
    text-align: center;
  }







