// Strategies Design System CORE

// _core contains only mixin and variable definitions (no element or class definitions) so it can be included in multiple files; best to use just this + fonts when retrofitting an existing project



// MISC

@mixin user-select-none() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}



// MEDIA QUERIES

// Extra small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
@mixin sm {
  @media (min-width: 576px) { @content; };
}

// Medium devices (tablets, 768px and up)
@mixin md {
  @media (min-width: 768px) { @content; };
}

// Large devices (desktops, 992px and up)
@mixin lg {
  @media (min-width: 992px) { @content; };
}

// Extra large devices (large desktops, 1200px and up)
@mixin xl {
  @media (min-width: 1200px) { @content; };
}



// COLOR PALETTE

// neutrals
$dk-grey: #3a3a3a;
  $dk-grey-hover: #292929;
  $dk-grey-focus: #000000;

$md-dk-grey: #727272;
  $md-dk-grey-hover: #696868;
  $md-dk-grey-focus: #595858;

$md-lt-grey: #aaaaaa;
  $md-lt-grey-hover: #9E9E9E;
  $md-lt-grey-focus: #949494;

$lt-grey: #d9d9d9;
  $lt-grey-hover: #D1CFCF;
  $lt-grey-focus: #C4C4C4;

$wash: #ebebeb;
  $wash-hover: #E3E3E3;
  $wash-focus: #d9d9d9;

$white: #ffffff;
  $white-hover: #f8f8f9;
  $white-focus: #f4f5f5;

// blues
$bold-blue: #441cc1;
  $bold-blue-hover: #4516AB;
  $bold-blue-focus: #3B1391;

$bright-blue: #607cff;
  $bright-blue-hover: #5771E6;
  $bright-blue-focus: #4E65CC;

$muted-blue: #8c99c1;
  $muted-blue-hover: #848DB5;
  $muted-blue-focus: #7B86A8;

$light-blue: #bfc9d8;
  $light-blue-hover: #B6BECF;
  $light-blue-focus: #ADB7C9;

// purples

$bold-purple: #720087;
  $bold-purple-hover: #5D006E;
  $bold-purple-focus: #480054;

$bright-purple: #9e5da5;
  $bright-purple-hover: #864F8C;
  $bright-purple-focus: #6E4073;

$muted-purple: #a88cad;
  $muted-purple-hover: #99809C;
  $muted-purple-focus: #88718A;

$light-purple: #d1c6d8;
  $light-purple-hover: #C4B7C9;
  $light-purple-focus: #B6A8BD;

// reds

$bold-red: #87002d;
  $bold-red-hover: #6E0025;
  $bold-red-focus: #54001C;

$bright-red: #ff002d;
  $bright-red-hover: #CC0025;
  $bright-red-focus: #B30021;

$muted-red: #b78e8e;
  $muted-red-hover: #A68280;
  $muted-red-focus: #967472;

$light-red: #ddbfbf;
  $light-red-hover: #D1B3B2;
  $light-red-focus: #C7A5A3;

// oranges

$bold-orange: #915b00;
  $bold-orange-hover: #784C00;
  $bold-orange-focus: #5E3C00;

$bright-orange: #ff7700;
  $bright-orange-hover: #E66B00;
  $bright-orange-focus: #CC5F00;

$muted-orange: #ad9b7f;
  $muted-orange-hover: #998B6D;
  $muted-orange-focus: #8C8065;

$light-orange: #d8ccaf;
  $light-orange-hover: #C9C0A3;
  $light-orange-focus: #BFB595;

// yellows

$bold-yellow: #5e5600;
  $bold-yellow-hover: #4F4E00;
  $bold-yellow-focus: #3F4200;

$bright-yellow: #d8a300;
  $bright-yellow-hover: #BF8F00;
  $bright-yellow-focus: #A67C00;

$muted-yellow: #999e72;
  $muted-yellow-hover: #878F63;
  $muted-yellow-focus: #79805B;

$light-yellow: #c6cea5;
  $light-yellow-hover: #B5BF97;
  $light-yellow-focus: #A4AD87;

$light-yellow-alt: #e6c370; // not Sasaki brand, but brand yellows are not great
  $light-yellow-alt-hover: #D6BA65;
  $light-yellow-alt-focus: #C2AF59;

$light-yellow-alt2: #F2E1B8; // not Sasaki brand, but brand yellows are not great
$light-yellow-alt2-hover: #E0D1A4;
$light-yellow-alt2-focus: #D9C793;

// greens

$bold-green: #005b2d;
  $bold-green-hover: #014D2A;
  $bold-green-focus: #004224;

$bright-green: #89ba00;
  $bright-green-hover: #76A100;
  $bright-green-focus: #638700;

$muted-green: #7fad96;
  $muted-green-hover: #729E8A;
  $muted-green-focus: #69917F;

$light-green: #bad8c9;
  $light-green-hover: #ADC9BD;
  $light-green-focus: #9FBDAF;

// placeholder for accent color
$primary: $bold-blue;
$primary-hover: $bold-blue-hover;
$primary-focus: $bold-blue-focus;

$secondary: $muted-green;
$secondary-hover: $muted-green-hover;
$secondary-focus: $muted-green-focus;

$nd: $dk-grey;
$nd-hover: $dk-grey-hover;
$nd-focus: $dk-grey-focus;

$nl: $wash;
$nl-hover: $wash-hover;
$nl-focus: $wash-focus;

$success: #4FB948;
$warning: #FECE07;
$error: #ED1C35;




// SHADOWS

@mixin shadow {
  box-shadow: 0 0 5px rgba(58,58,58,0.2);
}

@mixin shadow-hover {
  box-shadow: 0 0 7px rgba(58,58,58,0.2);
}

@mixin shadow-focus {
  box-shadow: 0 0 10px rgba(58,58,58,0.2);
}



// TYPOGRAPHY

$Korolev: "korolev", Lato, Open Sans, sans-serif;
$Cheltenham: "ITC Cheltenham W01", Georgia, serif;
$OpenSans: "Open Sans", Calibri, Arial, sans-serif;
$FontAwesome: "Font Awesome 5 Free";
$Retina: 'retinafont';

@mixin h1 {
  font-size: 3.6rem;
  font-family: $Cheltenham;
  font-weight: normal;
  margin: 0;

  @include md {
    font-size: 4.8rem;
  }
}

@mixin h2 {
  font-size: 2.4rem;
  font-family: $Korolev;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0;
  @include md {
    font-size: 3.6rem;
  }
}

@mixin h3 {
  font-size: 2rem;
  font-family: $Korolev;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0;
  @include md {
    font-size: 2.4rem;
  }
}

@mixin h4 {
  font-size: 1.6rem;
  font-family: $Korolev;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;

  @include md {
    font-size: 1.8rem;
  }
}

@mixin h5 {
  font-size: 1.2rem;
  font-family: $Korolev;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;

  @include md {
    font-size: 1.4rem;
  }
}

@mixin h6 {
  font-size: 1rem;
  font-family: $Korolev;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;

  @include md {
    font-size: 1rem;
  }
}


@mixin p-lg {
  font-family: $OpenSans;
  line-height: 1.75;
  font-weight: normal;
  font-size: 1.8rem;
}

@mixin p-md {
  font-family: $OpenSans;
  line-height: 1.75;
  font-weight: normal;
  font-size: 1.4rem;
}

@mixin p-sm {
  font-family: $OpenSans;
  line-height: 1.75;
  font-weight: normal;
  font-size: 1rem;
}

$br: 3px;

@mixin ss-button {
  @include h4;
  border-radius: $br;
  margin: 0;
  padding: 0 15px;
  border: none;
  height: 40px;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
  min-width: 130px;
  background-color: white;
  color: white;

  &:focus, &:active {
    outline: 0;
  }

  &.block {
    width: 100%;
    max-width: 250px;
  }

  &.primary {
    background-color: $primary;
    color: white;

    &:hover {
      background-color: $primary-hover;
    }
    &:focus, &:active {
      background-color: $primary-focus;
    }
  }

  &.secondary {
    background-color: $secondary;
    color: white;

    &:hover {
      background-color: $secondary-hover;
    }
    &:focus, &:active {
      background-color: $secondary-focus;
    }
  }
  &.nl {
    background-color: $nl;
    color: $dk-grey;

    &:hover {
      background-color: $nl-hover;
    }
    &:focus, &:active {
      background-color: $nl-focus;
    }
  }
  &.nd {
    background-color: $nd;
    color: white;

    &:hover {
      background-color: $nd-hover;
    }
    &:focus, &:active {
      background-color: $nd-focus;
    }
  }
}

